
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";


body{
 font-family: 'Oxygen', sans-serif;
 background-color: white;
}

.navbar{
  background-color: #ffffff;
  border-bottom: 1px solid #69b1f9;
  ul.navbar-nav{
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    li.nav-item{
      padding-left: 20px;
      padding-right: 20px;
      a{
        color: #34495e;
        font-size: 1.5em;
        &:hover{
          color: #53a9ff;
        }
      }
    }
  }
}

#page-content-wrapper{
  margin-top: 65px;
}

#page-content-container{
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

.blog-article{
  margin-top: 150px;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 100px;
  header{
    font-family: 'Source Code Pro', monospace;
    color: #53a9ff;
    font-weight: bold;
  }
}
